<form style="padding: 10ch" >
  <div class="container">
    <div class="left-section">
      <h2 style="color: palevioletred;">Contact Our</h2>
    <h2>Customer support Center</h2>
      </div>
    
    <div class="right-section">
    <img src="https://media.gettyimages.com/id/1371322868/photo/using-blank-white-screen-laptop.jpg?s=1024x1024&w=gi&k=20&c=KSlPzhv-u9RGQL300fOY7D38RiC_aN_mx0YYj121UQY=" 
    alt="Image loading" 
    class="responsive-image">
  
  </div>
</div>


  <div style="text-align: center;">
<h4>Contact Information</h4>
<p>Please fill out your contact information Below</p>

  </div>
  <div class="row g-3">
    <div class="col">
      <h6>Name</h6>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
      />
    </div>
    <div class="col">
      <h6>Last Name</h6>
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
      />
    </div>
  </div>
  <br />


  <div class="col-12">
    <label for="inputEmail3" class="form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" />
    </div>
  </div>

  <div class="col-12">
    <label for="password" class="form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputAddress" />
    </div>
  </div>

  <div class="col-12">
    <label for="phone" class="form-label">Phone Number</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputAddress" />
    </div>
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAddress" />
    </div>
  </div>
<br>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
