
<h2> Inside Child Componet </h2>

<h4>_______________________________________________________________________</h4>
<h4>(used NumberService)</h4>
<h2>{{"Number : "+No}}</h2>

<ng-template #Prime> <h2>Its a Prime number</h2></ng-template>
<ng-template #NotPrime> <h2>Its not a Prime number</h2></ng-template>

<h2 *ngIf = "bFlag ; then NotPrime; else Prime "></h2>

<h4>_______________________________________________________________________</h4>

<h4>(used StringService)</h4>

<h2>{{"String is : "+str}}</h2>

<h2>{{"Capital letters are : "+Count}}</h2>